@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">¡Haciendo un ejemplo en ASP.NET Core!</a></p>
</div>

<br/><hr/><br />

<div class="container">
    <div class="row">
        <div class="col-sm">
            Dropdown de ejemplo 1:
            <br /><br />
            <select id="dropdowntipo1">
                <option value="Exemplo1">Exemplo 1</option>
                <option value="Exemplo2">Exemplo 2</option>
                <option value="Exemplo3">Exemplo 3</option>
            </select>
        </div>
        <div class="col-sm">
            Dropdown de ejemplo 2:
            <br /><br />
            <select id="dropdowntipo2">
                <option value="Exemplo1">Exemplo 1</option>
                <option value="Exemplo2">Exemplo 2</option>
                <option value="Exemplo3">Exemplo 3</option>
            </select>
        </div>
        <div class="col-sm">
            Dropdown de ejemplo 3:
            <br/><br />
            <select id="dropdowntipo3">
                <option value="Exemplo1">Exemplo 1</option>
                <option value="Exemplo2">Exemplo 2</option>
                <option value="Exemplo3">Exemplo 3</option>
            </select>
        </div>
    </div>
</div>



